<div class="dashboard-container">
    <div class="heading">
        <h1> Which demographic factors affect customer engagement? </h1>
    </div>
        <div class="visualizations">
        <div class="vis">
            <mat-card>
                <mat-card-content>
                    <h4>1. People with income between 50-74K have spent the most followed by people with less than 35K
                        income.</h4>
                    <h3>
                        Cumulative Spending vs Income
                    </h3>
                    <img src="/assets/cum_spend_by_income.png">
                </mat-card-content>
            </mat-card>
        </div>
        <div class="vis">
            <mat-card>
                <mat-card-content>
                    <h4>2. People with 2 children have spent more compared to people with 1 and 3+ children.</h4>
                    <h3>
                        Cumulative Spending vs Number of Children
                    </h3>>
                    <img src="/assets/cum_spend_by_children.png">
                </mat-card-content>
            </mat-card>
        </div>
        <div class="vis">
            <mat-card>
                <mat-card-content>
                    <h4>3. One person households spent two times more than any other household sizes.</h4>
                    <h3>
                        Cumulative Spending vs Household size
                    </h3>>
                    <img src="/assets/cum_spend_by_hhsize.png">
                </mat-card-content>
            </mat-card>
        </div>
        <div class="vis">
            <mat-card>
                <mat-card-content>
                    <h4>
                        4. Income vs Category (Commodity)
                    </h4>
                    <img style="height:440px" src="/assets/income vs commodity.png">
                </mat-card-content>
            </mat-card>
        </div>
        <div class="vis">
            <mat-card>
                <mat-card-content>
                    <h4>
                        5. Number of transactions of each category across time
                    </h4>
                    <img style="height:440px" src="/assets/transactions_by_commodity.png">
                </mat-card-content>
            </mat-card>
        </div>
        <div class="vis">
            <mat-card>
                <mat-card-content>
                    <h4>
                        6. Spending of each category across time
                    </h4>
                    <img src="/assets/spends_by_commodity.png">
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>