<div class="toolbar" role="banner">
  <h1 class="text-3xl font-bold underline">
    Data Science using Azure Cloud: by Gagan Kumar Reddy Nanu & Rashi Saxena
  </h1>
  <h4 *ngIf="email">
    Welcome, {{ email }}
  </h4>
  <div *ngIf="email" class="router-links">
    <h2>
      <a class="nav-links" routerLink="sample" routerLinkActive="active" ariaCurrentWhenActive="page">Sample Data Pull &
        Search</a>
    </h2>
    <h2>
      <a class="nav-links" routerLink="/upload" routerLinkActive="active" ariaCurrentWhenActive="page">Upload Data</a>
    </h2>
    <h2>
      <a class="nav-links" routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a>
    </h2>
  </div>
</div>
<!-- <div class="main-content"> -->
  <router-outlet></router-outlet>
<!-- </div> -->